<!--Footer-->

{% load static %}

    <footer>
        <div class="container-fluid bg-dark text-light mt-5 pt-5">
            <div class="container py-5">
                <div class="row">
                  
                    <div class="col-sm-12 col-md-6 col-lg-6">  
                        <h5>
                            <img src="{% static "portfolio/logo1.jpeg" %}" width="30" height="30" alt="logo">
                            Kevin Matelong
                        </h5>
                        <p style="font-size: 15px">I am proud to provide quality content and product information to our users. There are links on this site that would help anyone who's dream is to become a software engineer.Feel free to reach out to me on social media   if you have any questions.</p>
                        <p style="font-size:18px">Copyright © 2023 All Rights Reserved.</p>
                   
                    </div>

                </div>
            </div>
        </div>
    </footer>